{
    "plugins": [
        ["@babel/plugin-proposal-decorators", { "legacy": true }],
        ["@babel/plugin-transform-template-literals", { "loose": true }],
        "@babel/plugin-transform-function-name",
        "@babel/plugin-transform-arrow-functions",
        "@babel/plugin-transform-block-scoped-functions",
        ["@babel/plugin-transform-classes", { "loose": true }],
        "@babel/plugin-transform-object-super",
        "@babel/plugin-transform-shorthand-properties",
        ["@babel/plugin-transform-for-of", { "loose": true }],
        "@babel/plugin-transform-parameters",
        ["@babel/plugin-transform-destructuring", { "loose": true }],
        "@babel/plugin-transform-block-scoping",
        "@babel/plugin-proposal-object-rest-spread",
        "@babel/plugin-transform-react-jsx",
        "@babel/plugin-syntax-jsx"
    ],
    "env": {
        "test": {
            "presets": ["@babel/preset-react"],
            "plugins": ["istanbul"]
        },
        "commonjs": {
            "plugins": [
                ["@babel/plugin-transform-modules-commonjs", { "loose": true }]
            ]
        }
    }
}
